.HomePage{
    color: black;
 
}
img{
    width: auto;
    height: auto;
}
img:hover{
    color: black;
}
.Header{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;

}
.para{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 40px;
    font-size: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.mac2{
    margin-top: 40px;
    margin-bottom: 100px;
}
.mac{
    width: 800px;
    height: 400px;
   
    

}
.mac4{
    width: fit-content;
    margin-top: 50px;
    border-radius: 50px;
    
}

#services{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#services h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;

}
#services h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.services{
	margin-top: 40px;
}
.icon{
	font-size: 40px;
	margin: 20px auto;
	padding: 10px;
	height: 80px;
	width: 80px;
	border: 2px solid #fff;
	border-radius: 50%;
}
#services p{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.services .col-md-3:hover{
	background: #dc3545;
	cursor: pointer;
	transition: 0.7s;
}