.macbookhead{
    margin-top: 0px;
}
.macheader2{
    padding-top: 100px;
    color: white;
}
.h3{
    padding-bottom: 50px;
}
.Storeintro{
    padding-bottom: 50px;
    color: white;
}
.macheader{
    font-size: 80px;
  
}
.backgroundmac{
    width: 1900px;
  
}
.storeimages{
    margin-bottom: 100px;
}