.storeimages{
    display: flex;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;   
}
.watchswich{
    margin-top: 60px;
    size: 500px;
}
.storeheader{
    width: 40%;
    color: gray;
    text-align: start;
    margin-top: 100px;

    margin-right: auto;
}
.storeheader1{
    width: 40%;
    color: gray;
    text-align: start;
    margin-top: 100px;
    margin-right: auto;
    margin-left: 200px;
}
.storeheader2{
   
    color: gray;
    text-align: start;
    margin-top: 100px;
    margin-left: 200px;
    
}
.storeheader2 h2{
    color: black;
    font-size: 50px;
    font-weight: bold;
    
}
.storeheader h2{
    color: black;
    font-size: 50px;
    font-weight: bold;
    
}
.storeheader1 h2{
    color: black;
    font-size: 50px;
    font-weight: bold;
    
}
.macbook{
    width: 60%;
    margin-left: 100px;
    margin-right: 100px;
   
    
      
}
.imageborder{
    margin-left: auto;
    margin-right: auto;
}
.storetext{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.storetext h2{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
   
}
.HeaderStore{
 font-size: 50px;
 margin-top: 100px;
}
.Ipad{
    border-radius: 30px;
}